apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-{{ .Values.color }}
  labels:
    app: {{ .Chart.Name }}
    color: {{ .Values.color }}

spec:
  replicas: 1

  selector:
    matchLabels:
      app: {{ .Chart.Name }}
      color: {{ .Values.color }}

  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
        color: {{ .Values.color }}

    spec:
      imagePullSecrets:
        - name: ecr-secret 
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
