apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  selector:
    app: {{ .Chart.Name }}
    color: {{ .Values.color }}
  ports:
    - name: http
      port: 80
      targetPort: 8080
